

*{
    margin:0% auto ;
    padding: 0%;
    box-sizing: border-box;
}

#menu {
    list-style-type: none;
    padding: 0%;
    background-color: rgb(199, 44, 165);

}
#menu li  {
    display: inline;
}

#menu li a {
    color: aliceblue;
    padding: 20px;
    display: inline-block;
    text-decoration:none;
    transform: background .3s;
}
#menu li a:hover{
    background-color: rgb(193, 206, 17);
}
#menu li:last-child a {
    float: right;
    text-decoration:none ;
    transform: background .3s;
}
.zap {
    position: fixed;
    bottom:0px;
    z-index: 9999;
    right:0,;
}
.logo{
    left :10px;
    position: absolute;
    display: block;
    margin: auto;
    padding: 15px;
    position: absolute;
    padding: 10px;
}
.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.search-input {
    right: 10rem;
    padding: 1rem;
    width: 40rem;
    border-radius: 1rem;
    font-size: 1rem;
    outline: none;
    border: none;
}

.search-button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: 2px solid #007bff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 16px;
}

.search-button:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

