@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin:0% auto ;
    padding: 0%;
    box-sizing: border-box;
    font-family:'inter',sans-serif
    
}

#menu {
    list-style-type: none;
    padding: 0%;
    background-color: rgb(199, 44, 165);

}
#menu li  {
    display: inline;
}

#menu li a {
    color: aliceblue;
    padding: 20px;
    display: inline-block;
    text-decoration:none;
    transform: background .3s;
}
#menu li a:hover{
    background-color: rgb(193, 206, 17);
}
#menu li:last-child a {
    float: right;
    text-decoration:none ;
    transform: background .3s;
}
.zap {
    position: fixed;
    bottom:0px;
    z-index: 9999;
    right:0,;
}
.logo{
    left :10px;
    position: absolute;
    display: block;
    margin: auto;
    padding: 15px;
    position: absolute;
    padding: 10px;
}
/* Centralizar o formulário de busca na tela */
.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 100%; /* Garante que o formulário ocupe 100% da largura */
}

/* Estilo do campo de pesquisa */
.search-input {
    padding: 1rem;
    width: 40rem; /* Tamanho do input */
    border-radius: 1rem;
    font-size: 1rem;
    outline: none;
    border: none;
    background-color: antiquewhite;
}
.lupinha {
    position: absolute;
    right: 5.1rem; /* Posiciona a lupa à direita dentro do input */
    top: 7rem;
    transform: translateY(-50%);
    cursor: pointer;
    
}

footer{
    width: 100%;
    color:rgb(0, 0, 0)
}
#footer_content{
    background-color: rgb(0, 0, 0);
    display: grid;
    padding: 2rem 3.5rem;
}
#footer_contact img {
    border-radius: 20rem;
    height: 11rem;
    width: 11rem;
    cursor: pointer;
}
#footer_social{

    display: flex;
    gap: 2rem;
    margin:1.5rem ;
   
}
#footer_social .footer_link{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color:white;
    border-radius: 50%;
}
#instagram{
    background:linear-gradient(#7f37c9,#ff2992 , #ff9807); 
}
#facebook{
    background: #007bff;
}

