
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body ,  html {
    height: 100%;
    margin: 0;
    background-color: rgb(255, 0, 0);
}

    


*{
    margin:0% auto ;
    padding: 0%;
    box-sizing: border-box;
    font-family:'inter',sans-serif;
    
}

#menu {
    list-style-type: none;
    padding: 0%;
    background-color: rgb(199, 44, 165);

}
#menu li  {
    display: inline;
}

#menu li a {
    color: aliceblue;
    padding: 20px;
    display: inline-block;
    text-decoration:none;
    transform: background .3s;
}
#menu li a:hover{
    background-color: rgb(193, 206, 17);
}
#menu li:last-child a {
    float: right;
    text-decoration:none ;
    transform: background .3s;
}
.zap {
    position: fixed;
    bottom:0px;
    z-index: 9999;
    right:0,;
}
.logo{
    left :10px;
    position: absolute;
    display: block;
    margin: auto;
    padding: 15px;
    position: absolute;
    padding: 10px;
}
/* Centralizar o formulário de busca na tela */
.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    width: 100%; /* O container ocupa 100% da largura disponível */
}

/* Estilo do campo de pesquisa */
.search-input {
    padding: 1rem;
    width: 100%; /* O input ocupa todo o espaço do container */
    max-width: 30rem; /* Limita o tamanho máximo do input */
    border-radius: 1rem;
    font-size: 1rem;
    outline: none;
    border: none;
    background-color: antiquewhite;
    height: 2.5rem;
}

.lupinha {
    position: absolute;
    right:27.6rem; /* Posiciona a lupa à direita dentro do input */
    top: 6.9rem;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 1.5rem;
    
}

footer{
    width: 100%;
    color:rgb(255, 255, 255)
}
#footer_content{
    background-color: rgb(255, 255, 255);
    display: grid;
    padding: 2rem 3.5rem;
}
#footer_contact img {
    height: 20rem;
    width: 16rem;
    cursor: pointer;
}
#footer_social{

    display: flex;
    gap: 4rem;
    margin:1.5rem ;
   
}
#footer_social .footer_link{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color:white;
    border-radius: 50%;
}
#instagram{
    background:linear-gradient(#7f37c9,#ff2992 , #ff9807); 
}
#facebook{
    background: #007bff;
}
.legenda{
    padding:2rem;
    font-size: 3rem;
    color:#ff9807
}
.main{
    display: flex;
    justify-content: center;
    flex-grow: 1;
    margin-bottom: 20rem;
}
.card{
    margin:0.75rem;
    color:rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
    width: 15rem;
    height: 15rem;
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;

}
.card>img{
    width:100%;
    border-top-right-radius: 1rem;
    border-top-left-radius: 2rem;
}
